<?xml version="1.0"?>
<data>
	<server port="50000" clients="25" />
	<server port="50005" clients="20" />
	<!-- Bidder parameters such as frequency, interest percentage
		 or any other options go here -->

	<!-- list of clients along with info -->
	<client username="james">
		<conn freq="4" server="50000" />
        <bid min="100" max="1000"/>
        <offers>
            100
            190
            270
            440
            880
            1000
        </offers>
	</client>

	<client username="mark">
		<conn freq="6" server="50000" />
        <bid min="50" max="500" />
        <offers>
            60
            90
            180
            310
            500
        </offers>
	</client>

	<client username="ida">
		<conn freq="5" server="50005" />
        <bid min="10" max="200" />
        <offers>
            20
            30
            120
            200
        </offers>
	</client>

	<client username="tony">
		<conn freq="9" server="50005" />
        <bid min="20" max="700" />
        <offers>
            50
            180
            225
            325
            675
            690
        </offers>
	</client>

	<client username="grant">
		<conn freq="6" server="50000" />
        <bid min="50" max="850" />
        <offers>
            100
            200
            400
            650
            800
            850
        </offers>
	</client>
	<!-- finished client section -->

	<!-- file with item descriptions -->
	<items file="items.txt" />
</data>
